:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

body {
  margin: 0px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EAE0C8;
}

header, footer {
  background-color: #C3B091;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}